@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    list-style-type: none;
    transition: all 0.4s;
}

h1 {
    text-align: center;
    padding: 15px 0px;
    color: #83B799;
    font-family: 'Bitter', serif;
}

nav {
    display: flex;
    justify-content: center;
}

#nav-mobile, #navbar-mobile, #navicon-mobile {
    display: none;
}

#navbar, #navicon {
    display: flex;
    list-style: none;
}

#navbar {
    width: 50%;
    justify-content: space-around;
}

#navbar a:hover {
    text-decoration: underline;
}

#navicon {
    width: 20%;
    justify-content: space-evenly;
}

#navicon a:hover {
    color: #83B799;
}

.galery {
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.galery img {
    height: 300px;
    margin: 10px auto;
}

.galery a:hover p {
    opacity: 1;
}

.galery a {
    position: relative;
}

.galery a:active {
    transform: scale(1.6);
    z-index: 2;
}

.galery p {
    background-color: rgba(0, 0, 0, 0.749);
    color: aliceblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    padding: 6px 0;
}

.details {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}
footer p {
    width: 50%;
    text-align: center;
    border-top: 1px solid;
    padding-top: 10px;
    font-weight: bold;
    font-size: 17px;
}

input {
    padding: 5px 15px;
}

input[type=submit] {
    background: #222;
    border: 1px solid #222;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: background 0.5s;
}

input[type=submit]:hover {
    background-color: #83B799;
}


@media screen and (max-width:560px) {
    header {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 22px;
    }
    #navbar, #navicon {
        display: none;
    }

    #nav-mobile {
        display: initial;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgba(103, 103, 103, 0.4);
        padding-bottom: 25px;
    }

    #nav-mobile:hover #navbar-mobile {
        display: flex;
    }

    #nav-mobile:hover #navicon-mobile {
        display: flex;
        opacity: 1;
    }

    #navbar-mobile {
        display: none;
        flex-direction: column;
        align-content: space-around;
        margin-top: 50px;
    }

    #navbar-mobile a {
        margin-bottom: 30px;
    }

    #navicon-mobile {
        display: none;
        justify-content: space-around;
    }

    input {
        padding: 5px 0;
    }
}



